@charset "utf-8";
/* CSS Document */

.navbarmy{
	opacity: 0.9;
}

#navbarItems{
	color: white;
}


#footer{
	color: white;
}

body {
	padding-top: 55px !important;
  } 

.imagesArtist{
	width: 250px;
	border-radius: 100%;
	padding: 10px;
}


.mapsPhoto{
	max-height: 350px
}

.icon{
	width: 30px;
}

.logo{
	width: 60px;
	margin-bottom: 15px;
}

.img-fluid{
	max-height: 100%;
  	max-width: 100%;
}




